<template>

    <div>
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Posts</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Posts</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <form novalidate class="md-layout" @submit.prevent="validate">
                <md-card class="md-layout-item md-size-100 md-small-size-100">

                    <md-card-content>
                        <div class="md-layout md-gutter">
                            <div class="md-layout-item md-small-size-100">
                                <md-field>
                                    <label>Message</label>
                                    <md-textarea v-model="form.text"></md-textarea>
                                </md-field>
                            </div>
                        </div>
                    </md-card-content>

                    <md-progress-bar md-mode="indeterminate" v-if="sending" />

                        <md-button type="submit" class="md-raised md-primary" :disabled="sending">Post</md-button>

                </md-card>

                <md-snackbar :md-active.sync="postSaved">The post was published successfully!</md-snackbar>
            </form>

            <post-container v-for="post in posts.data"
                            v-bind:key="post.id"
                            v-bind:post="post"
            ></post-container>

            <pagination :data="posts"
                        :show-disabled="true"
                        
                        @pagination-change-page="getPosts">
                <md-button class="md-icon-button md-raised">
                    <md-icon class="fas fa-trash-alt"></md-icon>
                </md-button>
                <md-button class="md-fab">
                    <md-icon class="fad fa-ban"></md-icon>
                </md-button>
            </pagination>
        </div>




        <!-- /.content -->

    </div>

</template>

<script>
    import { validationMixin } from 'vuelidate'
    import {
        required,
        minLength,
        maxLength
    } from 'vuelidate/lib/validators'
    import PostComponent from "../components/PostComponent";

    export default {
        name: 'Posts',
        mixins: [validationMixin],

        components: {
            'post-container': PostComponent
        },

        data() {

            return {
                postSaved: false,
                sending: false,
                lastPost: null,
                form: {
                    parent_id: null,
                    text: null,
                },
                posts: {}
            }

        },
        validations: {
            form: {
                text: {
                    required,
                    minLength: minLength(3),
                    maxLength: maxLength(3000),
                }
            }
        },

        mounted() {
            this.getPosts();
        },

        methods: {

            getPosts(page = 1) {
                let self = this;

                axios.get(`/api/posts?page=${page}`)
                    .then(function (response) {
                        self.posts = response.data;
                    });
            },

            savePost(){
                this.sending = true;

                window.setTimeout(() => {
                    this.lastPost = this.form
                    axios.post('/api/post/store', {post: this.form}).then(function () {
                        this.postSaved = true
                        this.sending = false
                        this.clearForm()
                    })
                },1500)

            },

            validate () {
                this.$v.$touch()

                if (!this.$v.$invalid) {
                    this.savePost()
                }
            },
            getValidationClass (fieldName) {
                const field = this.$v.form[fieldName]

                if (field) {
                    return {
                        'md-invalid': field.$invalid && field.$dirty
                    }
                }
            },
            clearForm () {
                this.$v.$reset()
                this.form.text = null
                this.form.user_id = null
            },
        }
    }

</script>

<style lang="scss" scoped>
    .md-progress-bar {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
</style>
