<template>
    <md-card md-with-hover>
        <md-ripple>
            <md-card-header>
                <div class="md-title">{{post.name}}</div>
                <div class="md-subhead">{{post.email}}</div>
            </md-card-header>

            <md-card-content>
                {{post.text}}
            </md-card-content>

            <div v-if="$auth.user()" class="admin-buttons">
                <md-button @click="deletePost(post.id)" class="md-fab-bottom-right md-raised md-icon-button">
                    <md-icon>Del</md-icon>
                </md-button>
                <md-button @click="banUser(post.user_id)" class="md-fab-bottom-right md-raised md-icon-button">
                    <md-icon>Ban</md-icon>
                </md-button>
            </div>
        </md-ripple>
    </md-card>
</template>

<script>
    export default {
        props: ['post'],

        data() {
            return {
            }

        },

        methods: {
            deletePost(id){
                axios.post('/api/post/delete', {id: id})
                    .then(function () {
                        this.$parent.posts.splice(id, 1);
                    });
            },
            banUser(id){
                axios.post('/api/user/ban', {id: id})
                    .then(function () {
                        alert('User Banned');
                    });
            },
        }
    }
</script>